---
layout: archive
---

{{ content }}

<div class="author__avatar home">
  <img src="/assets/images/profile.png" alt="developer" itemprop="image">
</div>
<p>안녕하세요? ㅎ</p>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
